.homepage-heading
    font-family 'Press Start 2P'
    text-align center
    text-transform lowercase
.homepage-links
    list-style-type: none
    padding 0
    margin 0
    display flex
    font-family: 'Roboto'
    li
        flex 1 1
        text-align:  center
.subheading
    font-family 'Press Start 2P'
    text-transform lowercase

.bio
    font-size: 1.0em;