// utility
.flex-container
    display flex

.header
    .subheading-wrapper
        display flex
        flex-wrap wrap
        height 60px
        border-bottom solid #393939 1px
        .subheading
            text-align left
            margin-top 0
            flex 6 2
        .socials
            margin-top 0
            flex 2 2
    .subheading-nav-wrapper
        border-bottom solid #393939 1px
        margin-bottom 12px

.homepage-heading
    font-family 'Press Start 2P'
    text-align center
    text-transform lowercase
.homepage-links
    font-family: 'Roboto'
    ol
        padding 0
        margin 0
        justify-content space-between
        list-style-type none
        li
            padding 4px
            margin 0
.subheading
    font-family 'Press Start 2P'
    text-transform lowercase

.bio
    font-size: 1.0em;