// variables
$navheight = 32px

// utility
.flex-container
    display flex
.s-border-top
    border-top solid #393939 1px
.s-border-bottom
    border-bottom solid #393939 1px

small
    font-size 0.7em

.header
    .subheading-wrapper
        display flex
        flex-wrap wrap
        height $navheight
        .subheading
            text-align left
            margin-top 0
            flex 6 2
        .socials
            margin-top 0
            flex 2 2
    .subheading-wrapper
        display flex
        justify-content space-between

.homepage-heading
    font-family 'Press Start 2P'
    text-align center
    text-transform lowercase
.navigation
    font-family: 'Roboto'
    margin-bottom: 24px
    ol
        padding 0
        margin 0
        justify-content space-between
        list-style-type none
        li
            padding 4px
            margin 0

.navigation-small
    margin-bottom 0
    font-size 0.8em
    ol
        justify-content: space-between
.subheading
    font-family 'Press Start 2P'
    text-transform lowercase
    margin-bottom 0

.footer
    display flex
    justify-content: center

.bio
    padding-top 6px;
    margin-top 20px;
    font-size: 1.0em;
    .avatar
        height: 64px;

.bio-wrapper
    .socials
        margin-left auto
        margin-right auto
        width 50%;
        margin-bottom 2em;

.socials
    display flex
    justify-content space-between

.tag-list
    list-style-type none
    display flex
    justify-content flex-start
    padding 0
    margin 0
    li
        padding 4px

.projects-list
    list-style-type none

    .project-image
        width 320px
        display inline-block

.about
    .socials
        width 50%